.git
.gitignore
.idea
.bolt
node_modules
apps/*/node_modules
packages/*/node_modules
apps/*/dist
packages/*/dist
dist
coverage
*.log
.env
.env.local
.env.*.local
apps/*/.env
apps/*/.env.local
.env.compose
memory
